-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "bahan" (
    "id" BIGSERIAL NOT NULL,
    "code_lama" VARCHAR(100),
    "code_baru" VARCHAR(100),
    "nama_bahan" VARCHAR(255) NOT NULL,
    "spesifikasi_bahan" TEXT,
    "ukuran_unit" VARCHAR(100),
    "stok_awal" VARCHAR(50),
    "nama_loket" VARCHAR(255),
    "keterangan1" TEXT,
    "keterangan2" TEXT,
    "keterangan3" TEXT,
    "keterangan4" TEXT,
    "keterangan5" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "created_by" TEXT,
    "currency" TEXT,
    "cost" DECIMAL,
    "bea_material" TEXT,
    "supplier" TEXT,

    CONSTRAINT "bahan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bahan_input_sementara" (
    "id" BIGSERIAL NOT NULL,
    "session_id" VARCHAR(255),
    "code_lama" VARCHAR(255),
    "nama_bahan" VARCHAR(255),
    "spesifikasi_bahan" TEXT,
    "ukuran_unit" VARCHAR(100),
    "stok_awal" VARCHAR(100),
    "nama_loket" VARCHAR(255),
    "keterangan1" TEXT,
    "keterangan2" TEXT,
    "keterangan3" TEXT,
    "keterangan4" TEXT,
    "keterangan5" TEXT,
    "created_by" VARCHAR(255),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "bahan_input_sementara_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "produk" (
    "id" BIGSERIAL NOT NULL,
    "namaproduk" VARCHAR(255) NOT NULL,
    "rated" VARCHAR(100),
    "produk1" TEXT,
    "produk2" TEXT,
    "produk3" TEXT,
    "stokproduk" VARCHAR(50),
    "createdby" VARCHAR(100),
    "createdat" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updatedat" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "produk_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'admin',
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_bahan_code_baru" ON "bahan"("code_baru");

-- CreateIndex
CREATE INDEX "idx_bahan_code_lama" ON "bahan"("code_lama");

-- CreateIndex
CREATE INDEX "idx_bahan_nama" ON "bahan"("nama_bahan");

-- CreateIndex
CREATE INDEX "idx_produk_nama" ON "produk"("namaproduk");

-- CreateIndex
CREATE UNIQUE INDEX "users_username_key" ON "users"("username");

